.menu{
    overflow: hidden;
    background-color: #20bec6;
    position: fixed;
    top: 0;
    width: 100%;
    height: 12px;
    z-index: 2;
}
#class_1{
    clear: both;
    background : url('image/background1.jpg')no-repeat center ;
    padding: 0px;
    background-size: cover;
    position: relative;
    height: 100vh;
}
#class_2{
    background : url('image/background2.jpg')no-repeat center ;
    padding: 0px;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-color: #5fb2e0;
}
#class_3 {
    background : url('image/background3.jpg')no-repeat center ;
    padding: 0px;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-color: #144058;;
}
#class_4{
    background : url('image/background4.jpg')no-repeat center ;
    padding: 0px;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-color:#bbb2af;
}
#class_5{
    background : url('image/background5.jpg')no-repeat center ;
    padding: 0px;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-color: #4c4f50;
}
#class_6{
    background : url('image/background6.jpg')no-repeat center ;
    padding: 0px;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-color:#bbb2af;
}
.icon-menu{
    width: 100px;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 6vh;
    padding-right: 0px;
}
.icon-menu ul li{
    width: 100px;
    cursor: pointer;
    margin-bottom: 2px;
    min-height: 80px;
}
.icon-menu ul li a{
    font-weight: bold;
    padding-top: 0px;
}
.icon-menu ul li a:hover{
    text-decoration: none;
    color: #236b88!important;
}
.icon-menu li:hover{
    text-shadow:0px 0px 8px;
}
.icon-menu ul li a .pagemenu_nom{
    font-size: 35px;
}
.icon-menu  ul li a .pagemenu_title{
    font-size: xx-small;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
html {
    scroll-behavior: smooth;
}
.navbar-toggler, .logo {
    display: none;
}


@media screen and (max-width: 767px){
    .menu {
        height: 65px;
    }
    .logo{
        display: block;
        color: white;
    }
    .navbar-toggler {
        display: block;
        width: 50px;
        border-radius: 100%;
        height: 50px;
        background-color: white;
        color: #20bec6;
        font-size: 25px;
        outline: none;
    }
    .menu button:hover{
        outline: none;
    }
    .icon-menu {
        top: 65px;
        width: 100%;
    }
    .icon-menu ul li {
        margin-bottom: 1px;
    }

}
@media (max-width: 767px) and (min-width: 592px){
    .icon-menu ul li {
        margin-bottom: 0px;
        width: 16.66%;
    }
}
@media (max-width: 591px) and (min-width: 426px){
    .icon-menu {
        width: 45%!important;
    }
    .icon-menu ul li {
        margin-bottom: 0px;
        width: 50%;
    }
}
@media (max-width: 425px) and (min-width: 320px){
    .icon-menu{
        width: 100%;
    }
    .icon-menu ul li {
        width:33.33%;
        margin: 0px;
    }
    .icon-menu ul li a .pagemenu_nom{
        font-size: 45px;
    }
}
    /*.menu .openbtn {
        display: block;
        float: right;
        font-size: 33px;
        cursor: pointer;
        background-color: #ffffff;
        color: #20bec6;
        padding: 2px 15px;
        border: none;
        margin-top: 5px;
        border-radius: 100%;
        outline: none;
    }
    #jumbomenu{
        display: none;
    }
    .icon-bar{
        position: fixed;
        top:60px ;
    }
    .icon-bar ul {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        list-style: none;
        top:60px ;
        padding-left: 0px;
    }
    .icon-bar ul li {
        float: left;
        margin-right:1px;
        height: 140px;
        margin-bottom: 0px;
        text-align: center;
        padding: 2px 5px;
    }
    .icon-bar ul li a{
        width: 100%;
        color: #423d3d;
    }
    .icon-bar ul li a:hover{
        color: #9c2a06;
    }
    .icon-bar ul li a .pagemenu_nom {
        font-size: 60px;
    }
    .icon-bar ul li a .pagemenu_title {
        font-size: small;
        clear: both;
    }
}

@media (max-width: 768px) and (min-width: 726px){
    .icon-bar ul{
        left: 0px;
    }
    .icon-bar ul li {
        width: 16.55%;
    }
    .icon-bar ul li:last-child{
        margin-right: 0px;
    }
}

@media (max-width: 725px) and (min-width: 601px){
    .icon-menu ul{
        width: 35%;
        right: 0px;
    }
}
@media (max-width: 600px) and (min-width: 471px){
    .icon-menu ul{
        width: 100%;
    }
    .icon-menu ul li {
        width:33.33%;
    }
}

@media (max-width: 470px) and (min-width: 426px){
    .icon-menu ul{
        width: 100%;
    }
    .icon-menu ul li {
        width:33.33%;
    }
}
*/

